body {
  background-color: #ffffff;
  background-image: url(images/top-image.png), url(images/bottom-image.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top, center bottom;
}
body{
  border-top: 1px #ff0000;
  border-bottom: 1px #ff0000;
}


address{
  position:absolute;
  bottom:7mm;
  right: 10mm;
}

h1{
  postion: absolute;
  width: 130px;
  height: 130px;
  top: 10mm;
  left: 30mm;
  font-size: 25px;
  color: white;
  padding:30px 0;
  text-align: center;
  text-shadow: 1px 1px 1px black;
  background-image: url(images/logo.png);
  background-repeat: no-repeat;
  filter: drop-shadow(1px 1px 1px #000000);
}
